
apiVersion: k3d.io/v1alpha4
kind: Simple
servers: 1 
agents: 0 
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
options:
  k3s:
    extraArgs:
    - arg: --disable=traefik
      nodeFilters:
      - server:0
    - arg: --disable=local-storage
      nodeFilters:
      - server:0
    - arg: --tls-san=kubernetes.localhost
      nodeFilters:
      - server:0
